<script type="text/javascript">
    $('#nav_Links>li.active').removeClass('active');
    $('#nav_Home').addClass('active');
</script>

<h1>Welcome!</h1>

<p>Find me in app/views/welcome/index.html.erb</p>

<h3><i>"I was born only for one purpose: to be an index file." (author unknown)</i></h3>

<p>Use my fancy navigation above to navigate through my project ;)</p>

<img src="me_as_zombie.jpg" width="50%" height="50%"/>

<p>by Nico Deufemia</p>
